body {
    text-align: center;
    padding: 7% 15%;
    font-size: 0.875rem;
    background-color: hsl(30, 38%, 92%);
}
h1 {
    
    font-family: "Fraunces";
    padding: 7% 0;
}
.col-6 h1 {
    color: hsl(158, 36%, 37%);
}
.container-fluid {
    text-align: center;
}
p {
    font-family: "Montserrat";
    font-weight:500;
    color: hsl(228, 12%, 48%);
    margin-bottom:0;
}
.btn {
    border-radius: 0.5rem;
    background-color: hsl(158, 36%, 37%);
    color: white;
    text-align: center;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.75rem 4.688rem;
}

.image-div {
    padding: 0;
    text-align: right;
}
.image {
    width: 20rem;
    height: 30rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.second-container {
    padding: 1.728rem;
    text-align: left;
    background-color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 20rem;
}
.dollar {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 1.25rem;
}
.cart {
    text-align: center;
}
.bottom-container {
    margin-top: 7%;
}
a {
    text-decoration: none;
}

@media (max-width: 62rem) {
    .image {
        width: 20rem;
        height: 30rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
    }
    .image-div {
        padding: 0;
        text-align: left;
        height: 22.5rem;
        
    }
    .second-container {
        padding: 1.728rem;
        text-align: left;
        background-color: white;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0;
        width: 20rem;
    }
    .dollar {
        padding: 0.938rem 0.625rem;
    }
}
