a {
    padding:auto;
    text-decoration: none;
}
a:hover {
    color:rgb(108, 108, 205)
}
body {
    text-align: left;
    margin:100px;
    padding:30px;
    background-color: #F1EFDC;
}
.bottom-container {
    margin-top:50px;
    bottom:5px;
    text-align:center;
}
.btn {
    font-family: 'Nunito Sans', sans-serif;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #527a52;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
  }
  
.btn:hover {
    background: #4cb884;
    text-decoration: none;
}
#dollar {
    display:inline;
    color:green;
}
.dollar {
    display:inline;
    color:grey;
    margin-left:15px;
    font-size: 1;
    text-decoration: line-through;
}
.first-container {
    width:5px;
    height:5px;
    position:relative;
    left:175px;
    top:5px;
}
h1 {
    margin:0;
    font-family: 'DM Serif Display', serif;
}
h4 {
    margin:20px 0 0;
}
img {
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
    margin:0;
    background-color:white;
    width:300px;
    position:relative;
}
p {
    color:grey;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2;
}
#perf {
    margin:0;
    font-family: 'Nunito Sans', sans-serif;
    font-stretch:extra-expanded;
}
.second-container {
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
    margin:0;
    background-color:white;
    padding:30px 30px 0;
    height:420px;
    width:250px;
    position:relative;
    left:475px;
}







